footer {
  height: 65px;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $primary;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px; // Odstęp między liniami krawędzi footer
    left: 0;
    right: 0;
    border-top: 1px solid $primary;
  }

  a {
    color: $primary;
  }

  .font-down--resp {
    font-size: 10px;

    @include md {
      font-size: 12px;
    }

    @include lg {
      font-size: 14px;
    }
  }

  .logo-down--resp {
    font-size: 14px;

    @include md {
      font-size: 16px;
    }

    @include lg {
      font-size: 18px;
    }
  }
}