main {
  // Home
  .section {
    &__home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      h1 {
        font-size: 29px;

        @include md {
          font-size: 36px;
        }

        @include lg {
          font-size: 46px;
        }
      }
    }
  }

  // Announcements
  .announcements {
    margin: 40px 0;

    &__filters {
      font-weight: 400;

      &--active {
        background-color: $primary-active;
        color: white;
      }
    }

    &__info {

      p {
        font-weight: bold;
        margin: 3px 0;
      }

      span {
        font-weight: normal;
      }

      a {
        font-weight: normal;
      }

      .font__card-resp {
        font-size: 14px;
        font-weight: bold;
        margin: 7px 0;

        @include md {
          font-size: 15px;
        }

        @include lg {
          font-size: 16px;
        }

        @include xl {
          font-size: 17px;
        }
      }
    }

    .card {
      min-height: 500px;

      @include md {
        min-height: 540px;
      }

      @include lg {
        min-height: 600px;
      }

      @include xl {
        min-height: 570px;
      }

      &-img-container {
        overflow: hidden; // Dodanie containera, który ogranicza ruch obrazka tylko do obszaru kontenera
        position: relative;
      }

      &-img-top {
        width: 100%;
        min-height: 250px;
        object-fit: cover; // Zapewnia, że obraz wypełnia cały kontener, zachowując swoje proporcje. Oznacza to, że obraz może zostać przycięty, aby uniknąć zniekształceń.
        transition: transform 0.2s ease-out;
        z-index: 3;
      }
    }

    .select-filters {
      &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        //width: 100%;
        max-width: 410px;
        margin: 0 auto; // wyśrodkowanie
      }
    }

    // Style card-custom na ostatniej stronie paginacji kiedy znajduje się na niej tylko 1 albo 2 karty z ogłoszeniem
    .card-custom { // Sam card-custom nie ma styli, działa jak identyfikator, używany po to aby JavaScript mógł łatwo odnaleźć karty i dodać dodatkowe style dla tych elementów
      &.only-card {
        /* Styl dla jedynej karty na stronie */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
      }

      &.two-cards {
        /* Styl dla kart, gdy są dokładnie dwie na stronie */
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include md {
          width: 50%;
          max-width: 400px;
        }
      }
    }
  }

  // AnnouncementDetails
  .announcement {
    &__details {
      max-width: 95%;

      &-img {
        max-width: 385px;
        height: auto;
        object-fit: cover; // Zapewnia, że obraz wypełnia cały kontener, zachowując swoje proporcje. Oznacza to, że obraz może zostać przycięty, aby uniknąć zniekształceń.

        @include sm {
          min-width: 520px;
        }

        @include md {
          min-width: 580px;
        }

        @include lg {
          max-width: 640px;
        }

        @include xl {
          max-width: 700px;
        }
      }

      h2 {
        font-weight: bold;
        font-size: 17px;

        @include md {
          font-size: 18px;
        }

        @include lg {
          font-size: 20px;
        }
      }

      h3 {
        font-weight: bold;
        font-size: 14px;

        @include sm {
          font-size: 16px;
        }

        @include md {
          font-size: 17px;
        }

        @include lg {
          font-size: 19px;
        }
      }

      .font--back {
        font-size: 14px;

        @include sm {
          font-size: 16px;
        }

        @include md {
          font-size: 17px;
        }
      }
    }
  }

  // About
  .about {
    .faq {
      .question {
        width: 100%;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $primary;
        color: $secondary;
        margin-bottom: 15px;

        p {
          margin: 0;
        }

        .logo-chev--resp {
          color: $secondary;
        }
      }

      .answer {
        padding-bottom: 15px;
      }
    }

    h1 {
      font-size: 17px;

      @include md {
        font-size: 22px;
      }

      @include lg {
        font-size: 28px;
      }
    }
  }

  // NotFound
  .not-found {
    width: 100%;
    height: auto;
  }
}